<!DOCTYPE html>
<html>
<head>
  <title>Not found catcher</title>
  <%= stylesheet_link_tag    "not_found_catcher/application", media: "all" %>
  <%= javascript_include_tag "not_found_catcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
